<%provide(:title, @user.full_name)%>
<!-- breadcrumb -->  
	<div class="container">	
		<ol class="breadcrumb w3l-crumbs">
			<li><a href="<%= root_url %>"><i class="fa fa-home"></i> Home</a></li> 
			<li class="active">Profile</li>
		</ol>
	</div>
	<!-- //breadcrumb -->
	<div id="profile">
		<%= render partial: "profile" %>
	</div>
